<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product Manager</title>
</head>
<body>

<div align="center">
    <h1>Subjects List</h1>
    <a>select subject!</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${listSubjects}">
            <td><a th:href="@{'/' + ${userId} + '/sub/select/' + ${subject.id}}" th:text="${subject.name}" /></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>